<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <title><span th:text="${sign}"></span></title>
 </head>
 <body>
  <div style="padding: 5px; padding-bottom: 5px;    font-family: 'Open Sans','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; width: 100%!important; font-weight: 300!important; margin: 0;">
   <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" style="font-size:14px;font-family:Microsoft Yahei,Arial,Helvetica,sans-serif;padding:0;margin:0;color:#333;background-color:#ececec;background-repeat:repeat-x;background-position:bottom left">
    <tbody>
     <tr>
      <td>
       <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
         <tr>
          <td>
           <div style="background:#fff">
            <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
             <thead> 
              <tr> 
               <td style="padding-left:40px;padding-top:20px;height:60px;line-height:60px;color:#fff"><img style="width:117px" src="https://bxx.com/static/img/logo.ea3150c.png" /></td>
              </tr> 
             </thead> 
             <tbody> 
              <tr style="padding:40px 40px 0 40px;display:table-cell"> 
               <td style="font-size:24px;line-height:1.5;color:#333;margin-top:40px"><span th:text="${sign}"></span> 邮件验证码</td>
              </tr> 
              <tr> 
               <td style="font-size:14px;color:#333;padding:24px 40px 0 40px">尊敬的用户您好！<br /><br />
                   <span th:text="${content}"></span>
               </td>
              </tr> 
              <tr style="padding:40px;display:table-cell"> 
               <td style="font-size:14px;color:#333;color:rgba(51,51,51,.3)">感谢您选择 bxx.com！<br /><span th:text="${sign}"></span> 官方</td>
              </tr>
             </tbody>
            </table>
           </div>
           <div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tbody>
              <tr>
               <td style="padding:20px 40px;font-size:12px;color:#999;line-height:20px;background:#f7f7f7;text-align:center;">
                <div>
                 <a href="http://weibo.com/bxx" target="_blank"><img style="width:15px;height:15px" src="https://ex-resource.oss-cn-hongkong.aliyuncs.com/assets/sina.png" alt="weibo" /></a>
                 <a style="margin:0 10px" href="https://twitter.com/bxx" target="_blank"><img style="width:15px;height:15px" src="https://ex-resource.oss-cn-hongkong.aliyuncs.com/assets/tw.png" alt="twitter" /></a>
                 <a href="https://www.facebook.com/bxx" target="_blank"><img style="width:15px;height:15px" src="https://ex-resource.oss-cn-hongkong.aliyuncs.com/assets/fb.png" alt="facebook" /></a>
                 <a href="https://t.me/bxx" target="_blank"><img style="width:15px;height:15px" src="https://ex-resource.oss-cn-hongkong.aliyuncs.com/assets/telegram.png" alt="telegram" /></a>
                </div> <p style="color:#878787;font-size:12px;margin:7px 0 10px"> 客服：<a style="color:#878787">support@bxx.com</a> <span style="display:inline-block;width:20px"></span> </p>
                <div style="color:#535353;font-size:12px">
                 <p style="margin:0">Copyright &copy;2017-2018 <a style="color:#535353">www.bxx.com</a></p>
                 <div class="yj6qo"></div> 
                 <div class="adL"> 
                 </div> 
                </div> </td>
              </tr> 
             </tbody> 
            </table> 
           </div>
          </td>
         </tr> 
        </tbody> 
       </table></td> 
     </tr> 
    </tbody> 
   </table> 
  </div>
 </body>
</html>